* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .signup-card h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .signup-card input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .signup-card input:focus {
    border-color: #6e45e1;
    outline: none;
  }
  
  .signup-button {
    background-color: #6e45e1;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #88d3ce;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .signup-card {
      padding: 30px;
    }
  }
